@{
	ViewData["Controller"] = "History";
	ViewData["Action"] = "HealthDetail";
	ViewData["Icon"] = "list-alt";
	string UrlDefault = $"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.PathBase}";
	int countRow = 0;
}
@using ContainerEvaluationSystem.Helpers;
@using HealthCheck.Models;

<div class="page-body">
	<!-- Container-fluid starts-->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-header pb-0 card-no-border">
						<div class="d-flex justify-content-between align-items-center mb-3">
							<div>
								<h4>
									<i class="fa fa-list-alt"></i> ข้อมูลรายละเอียดประวัติการตรวจสุขภาพ
									<a asp-controller="HistoryHealth" asp-action="HistoryHealthPage" class="btn btn-light btm-sm">ย้อนกลับ</a>
								</h4>
								<p class="mt-2">วันที่ตรวจสุขภาพ : @ViewBag.Alchkdate</p>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="table-responsive theme-scrollbar">
							<table class="display" id="data-source-1" style="width:100%">
								<thead>
									<tr>
										<th>#</th>
										<th>เลขประจำตัว</th>
										<th>ชื่อ</th>
										<th>วันที่อัปโหลดข้อมูล</th>
									</tr>
								</thead>
								<tbody>
									@foreach (var item in (List<HistoryHealth>)ViewBag.HistoryHealthDetail)
									{
										countRow++;
										<tr>
											<td>@countRow</td>
											<td>@item.Alcode</td>
											<td>@item.Alnameen</td>
											<td>@item.UploadDate</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

